<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <connectionStrings>

    <add  name="ConStr" connectionString="Data Source=192.168.31.11;Initial Catalog=StudentManager;Persist Security Info=True;User ID=sa;Password=123" />

    <!--<add  name="ConStr" connectionString="data source=C:\Users\Administrator\Desktop\通用数据库访问(简单工厂+配置文件+反射)\CommonDBAccess\dll\ItcastCater.db;version=3;" />-->


  </connectionStrings>

  <appSettings>
    <add key="DBAssembly" value="DBAccess"/>
    <add key="DBClass" value="SQLHelper"/>
  </appSettings>

</configuration>